// BG Colors
$main-bg: #16101f;
$soft-bg: #e6e6e6;
$dark-bg: #28284f;
// Text colors
$main-color: white;
$highlight-01: #00ffff;
$highlight-02: #f7ff46;
$highlight-03: #1976d2;
$alert-color: #ff0952;
$dark-color: #666666;
$soft-color: #999999;
